crewai
langchain
langchain-community
langchain-ollama
pypdf
pymupdf
faiss-cpu
chromadb
fastapi
uvicorn
openai
mcp
python-dotenv
sentence-transformers
langchain-huggingface
crewai-tools[mcp]
crewai-tools